* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(33, 33, 35);
}

dialog {
    row-gap: 16px;
    margin: auto auto;
    padding: 20px;
    border: 4px solid rgb(158, 158, 158);
    border-radius: 8px;
}

dialog *{
    color: black;
}

dialog button{
    margin-top: 16px;
    padding: 4px;
    border-radius: 8px;
    color: white;
    border: 3px solid rgb(158, 158, 158);
}

.occupyAll {
    grid-column: 1/-1;
}

form{
    display: grid;
    grid-template: repeat(3, 2rem) / repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

form *, #playBtn{
    font-size: 1rem;
}

.gridBoardContainer {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    align-items: center;
    margin-top: 32px;
}

.gridBoardContainer *{
    width: 100%;
    height: 100%;
}

.gridCell {
    overflow: hidden;
}

button {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(103, 103, 103);
    background-color:  rgb(59, 59, 59);;
    cursor: pointer;
}

button:active {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(103, 103, 103);
    background-color:  rgb(47, 47, 47);;
    cursor: pointer;
}

main > span {
    font-size: 4rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

#newGameBtn {
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 4rem;
}

header {
    display: grid;
    grid-template-rows: repeat(4, auto);
}

header span{
    font-size: 3rem;
}

#scoreSpan{
    font-size: 2rem;
}