* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

dialog {
    row-gap: 16px;
    margin: auto auto;
    padding: 20px;
}

.ocupyAll {
    grid-column: 1/-1;
    font-size: 4rem;
}

form{
    display: grid;
    grid-template: repeat(3, 2rem) / repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

form *, #playBtn{
    font-size: 1rem;
}

.gridBoardContainer {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    align-items: center;
}

.gridBoardContainer *{
    width: 100%;
    height: 100%;
}

button {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    cursor: pointer;
}

main > span {
    font-size: 4rem;
    font-weight: bold;
}