* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 90%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 16px;
}

.ocupyAll {
    grid-column: 1/-1;
    font-size: 4rem;
}

section {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-items: center;
}

section *{
    width: 100%;
    height: 100%;
}

button {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}

main > span {
    font-size: 4rem;
    font-weight: bold;
}